@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgba(19, 1, 19, 0.925);
    font-family: "Roboto", serif;
}

ul {
    font-size: 22px;
    margin-right: 16px;
    background-color: rgb(113, 231, 231);
    padding: 16px;
    border: 4px dashed orange;

}
p {
    color: gold;
}
.text-center {
    text-align: center;
}

.color {
    color: aquamarine;
}

#homepage_link {
    color: rgb(224, 172, 50);
}

#aboutme_link {
    color: rgb(236, 27, 27);
}

#contact_link {
    color: orange;
}

#interests_link {
    color: yellow;
}

#projects_link {
    color: green;
}

#resume_link {
    color: rgb(24, 78, 115);
}

nav li {
    display: inline-block;
}

#homepage_welcome {
    color: rgb(220, 156, 177)
}

#projects_welcome {
    color: greenyellow;
}

#aboutme_welcome {
    color: rgb(236, 27, 27);
}

#contacts_welcome {
    color: rgba(231, 119, 79, 0.763);
}

#interests_welcome {
    color: rgb(213, 150, 32);
}