@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(91, 46, 91, 0.925);
    font-family: "Roboto", serif;
}
ul {
    font-size: 22px;
    margin-right: 16px;
    background-color: rgb(113, 231, 231);
    padding: 12px;
    border: 4px dashed orange;

}
*{
    text-align: center;
}
p {
    color: gold;
    justify-content: stretch;
    margin-right: 18px;
    font-size: 20px;
    text-align: center;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}
ol{
    color: gold;
    justify-content: stretch;
    margin-right: 18px;
    font-size: 20px;
    text-align: center;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}
.color {
    color: aquamarine;

}

#homepage_link {
    color: rgb(224, 172, 50);
}

#aboutme_link {
    color: rgb(236, 27, 27);
}

#contact_link {
    color: orange;
}

#interests_link {
    color: yellow;
}
h3{
    font-size: 24px;
}

#projects_link {
    color: green;
}

#resume_link {
    color: rgb(24, 78, 115);
}

nav {
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline-block;
}

#homepage_welcome {
    color: rgb(255, 206, 8)
}

#projects_welcome {
    color: greenyellow;
}

#aboutme_welcome {
    color: rgb(236, 27, 27);
}

#contacts_welcome {
    color: rgba(231, 119, 79, 0.763);
}

#interests_welcome {
    color: rgb(213, 150, 32);
}

div.fixed {
    position: fixed;
    right: 0px;
    bottom:0px;
}
a:hover{
 color: aqua;
}
#homepage_link:hover{
    color: blueviolet;
    background-color: aliceblue;
}
#aboutme_link:hover{
    color: violet;
    background-color: aqua;
}
#contact_link:hover{
    color: blue;
    background-color: blanchedalmond;
}
#interests_link:hover{
    color: lightcoral;
    background-color: bisque;
}
#projects_link:hover{
    color: darkgoldenrod;
    background-color: rgb(245, 245, 245);
}
#resume_link:hover{
    color: salmon;
    background-color: azure;
}

.link2{
  font-size: 22px;
}
.link2:nth-child(odd) {
   background-color: rgb(17, 127, 223);
}
.link2:nth-child(even) {
   background-color: rgb(200, 154, 154);
}